@tailwind base;
@tailwind components;
@tailwind utilities;

.agendamento svg {
    opacity: 0.4;
    transition: .5s;
    pointer-events: auto
}

.agendamento input:checked~svg {
    opacity: 1;
    pointer-events: auto;
    color: rgb(49, 121, 255)
}

.agendamento input[type="radio"] {
    display: block
        /*só pra estética do demo */
}

.rating img {
    opacity: 0.4;
    transition: .3s;
    pointer-events: auto
}

.rating input:checked~img {
    opacity: 1;
    pointer-events: auto;
    color: rgb(49, 121, 255);
}

.rating input[type="radio"] {
    display: block
        /*só pra estética do demo */
}

/*LOADER*/

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #0066ff;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}



@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
